#titulo1 {
  color: rgb(204, 227, 247);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  font-style: initial;
  width: 150;
  height: 200;
}

body {
  background-color: #aac6e4;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  color: #112036;
  background-color: #336699;
  text-align: center;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.texto-parrafo {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.perfume {
  padding: 40px;
  width: 350px;
  height: 360px;
  object-fit: cover;
}

.parrafo {
  background-color: #336699;
  font-style: italic;
  color: #112036;
  padding: 30px;
  margin: 10px;
  height: 350px;
  width: 600px;
  border: 10px solid #112036;
  overflow: visible;
}

.productos img {
  max-width: 100%;
  height: auto;
}

.titulo2 {
  color: #112036;
  background-color: #336699;
  text-align: center;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.productos1 a {
  display: inline-block;
  padding: 10px;
  background-color: #336699;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

.productos1 img {
  max-width: 100%;
  height: 400px;
  margin: 50px;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #132533;
  padding: 10px;
}

.logoglm {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
}

.menu-navegador {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  flex: 1;
}
.menu-navegador li {
  list-style: none;
}
.menu-navegador li a {
  display: inline-block;
  padding: 10px;
  background-color: #33536c;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

footer {
  background-color: #0e153a;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

h1, h2 {
  color: #0e153a;
}

footer {
  background-color: #0f2134;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

.form {
  background-color: rgb(39, 55, 101);
  font-style: italic;
  color: #112036;
  padding: 50px;
  margin: 50px;
  height: 100px;
  width: 400px;
  border: 10px solid #112036;
  overflow: visible;
  gap: 20px;
}

h1 {
  color: #112036;
  background-color: #336699;
  text-align: center;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.uno img {
  max-width: 100%;
  height: 400px;
  margin: 50px;
  display: inline-block;
  width: 70%;
  vertical-align: middle;
}

.dos img {
  max-width: 100%;
  height: 400px;
  margin: 50px;
  display: inline-block;
  width: 70%;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .dos, .uno {
    display: flex;
    flex-wrap: nowrap;
  }
  .uno img, .dos img {
    width: 100%;
  }
}
@media (min-width: 769px) {
  .dos, .uno {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
h3 {
  color: #112036;
  background-color: #336699;
  text-align: center;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

h1 {
  color: #112036;
  background-color: #336699;
  text-align: center;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.mapas {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  position: relative;
  width: 300px;
}

.mapas iframe {
  max-width: 100%;
}

h1 {
  color: #0e153a;
}

.zona {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  background-color: #ffffff;
  padding: 10px;
  margin: 0;
}

div {
  padding-top: 30px;
}

p {
  margin-bottom: 0;
}

footer {
  background-color: #0e153a;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
